@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-heading: "Manrope", sans-serif;
    --font-body: "Nunito", sans-serif;
}

.no-copy {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Standard syntax (Chrome, Edge, Opera, Firefox) */
}
/* html, body {
  overflow-x: hidden;
  overflow-y: hidden;
} */

